In [1]:
import pandas as pd

In [12]:
cleaned_csv_file = 'cleaned_csv_file.csv'
code_csv_file = 'relevant_eurostat_codes.csv'
output_file = 'filtered_final.csv'

In [13]:
cleaned_data = pd.read_csv(cleaned_csv_file)

code_data = pd.read_csv(code_csv_file)

In [14]:
# trimming whitespaces
cleaned_data['2'] = cleaned_data['2'].astype(str).str.strip()
code_data['CAPRI_code'] = code_data['CAPRI_code'].astype(str).str.strip()

In [15]:
# fltering
filtered_data = cleaned_data[cleaned_data['2'].isin(code_data['CAPRI_code'])]

In [16]:
filtered_data.to_csv(output_file, index=False)

print(f"Filtered data saved to {output_file}")

Filtered data saved to filtered_final.csv

In [17]:
import gc
del cleaned_data
del code_data
del filtered_data
gc.collect()

16

In [18]:
filtered = pd.read_csv('filtered_final.csv')

C:\Users\siddh\AppData\Local\Temp\ipykernel_14720\1639132379.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  filtered = pd.read_csv('filtered_final.csv')

In [19]:
filtered.head()

          1     2     3     4                5
0  BL000000  SWHE  SWHE  1984  6912.9917949893
1  BL000000  SWHE  SWHE  1985  6312.0309583878
2  BL000000  SWHE  SWHE  1986  6756.4108458386
3  BL000000  SWHE  SWHE  1987  5591.1757606412
4  BL000000  SWHE  SWHE  1988  6008.8761172850

In [20]:
filtered.tail()

                1     2     3     4                5
7938903  TRC00000  OILS  MINR  2014  79.809351289700
7938904  TRC00000  OILS  MINR  2015  81.216572637520
7938905  TRC00000  OILS  MINR  2016  81.899871660664
7938906  TRC00000  OILS  MINR  2017  82.837316370998
7938907  TRC00000  OILS  MINR  2018   80.93133242748

In [21]:
del filtered
gc.collect()

64